[submodule "thirdparty/ansible-freeipa"]
	path = thirdparty/ansible-freeipa
	url = https://github.com/freeipa/ansible-freeipa.git
[submodule "roles/firewall"]
	path = roles/firewall
	url = https://github.com/linux-system-roles/firewall.git
[submodule "roles/ansible-ntpd"]
	path = roles/ansible-ntpd
	url = https://github.com/silanea/ansible-ntpd.git
[submodule "roles/ansible-role-bind"]
	path = roles/ansible-role-bind
	url = https://github.com/bertvv/ansible-role-bind.git
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/silanea/network.git
[submodule "roles/ansible-apache"]
	path = roles/ansible-apache
	url = https://github.com/silanea/ansible-apache.git
[submodule "roles/ansible-fail2ban"]
	path = roles/ansible-fail2ban
	url = https://github.com/nbigot/ansible-fail2ban.git
[submodule "thirdparty/ansible-citus"]
	path = thirdparty/ansible-citus
	url = https://github.com/chaintng/ansible-citus.git
[submodule "thirdparty/mitogen"]
	path = thirdparty/mitogen
	url = https://github.com/dw/mitogen.git
[submodule "roles/ansible-ssh-hardening"]
	path = roles/ansible-ssh-hardening
	url = https://github.com/dev-sec/ansible-ssh-hardening.git
